# Python
*.pyc
*~
__pyache__

# Env
.env
myvenv/
venv/

# Datenbank
db.sqlite3

# Static Ordner im Projektverzeichnis
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ethumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace